@media (max-width:768px) {
    .full-width-row{
        background-image: none;
    }
}
@media (max-width:768px) {
    .middle-column{
        height: 300px; 
    }
    
}
@media (max-width:768px) {
    .text-overlay{
        font-size: 10px;
      
    }
    
}
@media (max-width:768px) {
    .ms-icons{
        height: 150px;
      
    }
    
}

@media (max-width:768px) {
    h2,h3{
        font-size:50px !important;
      
    }
    
}
@media (max-width:768px) {
    .absolute-image{
        min-width: 200px;
        left:-35px;
      
    }
    
}
@media (max-width:768px) {
    .absolute-image-signer{
       top: 50%;
       left: 0%;
      
    }
    
}
