.bg-color{
    background-color: #13131b;
}

@font-face {
    font-family: 'Cascadia';
    src: url('./fonts/Cascadia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  .press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
.navbar-nav .nav-link {
    font-size: 16px; 
    color: #fff;  
    padding: 0 20px !important;
}
.navbar {
    background-color: #13131b; 
    z-index: 1000; 
  }

.navbar-nav .nav-link:hover {
    color: #ee273e; 
}

  p,li{
    font-family: 'Cascadia', sans-serif;
    color: #fff;
    line-height: 2;
  }
  h1,h2{
    font-family: "Press Start 2P", system-ui;
    font-size: 60px !important;
    
  }
  h3,h4{
    font-family: 'Cascadia', sans-serif;
    font-size: 32px !important;
    color: #fff !important;
  }
  h5{
    font-family: 'Cascadia', sans-serif;
    font-size: 16px !important;
    color: #fff !important;
  }
  .play-now{
    color: #fff;
    font-size: 60px;
    font-weight: 600;
  }
 
 
  .full-width-row{
    background-image: url(./images/line-right.png);
    background-position: center right;
    background-repeat: no-repeat;
    min-height: 70vh;
    align-items: center;
    align-content: center;
    margin: 60px auto;
    width: 100%;
    padding: 20px;
  }
ul.square-bullets{
   list-style-type: square;
}
li::marker{
    color:#EE273E ;
    font-size: x-large;
}
.Additional{
     border-left:#41d895 solid 1px;
     
}

    .row.position-relative {
    position: relative; 
    
  }
  
  .absolute-image {
    position: absolute;
    top: -120px; 
    left: -109px; 
    width: 100px; 
    height: auto; 
    min-width: 300px;
  }
  .absolute-image-signer {
    position: absolute;
    top: -40px; 
    left: 55%; 
    height: auto; 
    min-width: 150px;
    display: inline-block;
  }
  .square-hero{
position: absolute;
display: inline-block;

  }

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.question-mark {
    animation: pulseEffect 1s infinite;
  }
  
  @keyframes pulseEffect {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .absolute-image-signer {
    animation: pulseEffect 0.3s infinite;
  }
  
  @keyframes pulseEffect {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .fadein-out-first {
    animation: fadeInOut 4s infinite;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .fadein-out-second {
    animation: fadeInOut 6s infinite; 
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0; 
    }
    20% {
      opacity: 1; 
    }
    80% {
      opacity: 1; 
    }
    100% {
      opacity: 0; 
    }
  }
/* Header section */
.header {
    background-color: #312654;
    border: 3px solid #ff0062;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    margin-bottom: 20px;  
}

.content p{
    width: 100%;
    color:#000;
}

.header p{
    font-size: 20px;
    font-family: "Press Start 2P", system-ui;
    color: #41d895;
    margin: 0;
}

.highlight {
    background-color: #d82983;
    color: #41d895;
    padding: 0 5px;
}
  
.pixel-box--error {
    color: #fff;
    border-style: solid;
    border-width: 4px;
    border-color: #bc361a;
    border-image-slice: 2;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23bc361a' /></svg>");
    position: relative;
    background-color: #8468af;
    padding: 30px;
    
  }
  
  @supports (border-image-source: none) {
    .pixel-box--error {
      border-radius: 14px;
    }
  }
  
  .pixel-box--error::after {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset -4px -4px #e14828;
            box-shadow: inset -4px -4px #e14828;
  }
